* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 30%;
    margin-left: 30%;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

.section1 {
    display: flex;
    width: 30%;
    margin-right: 15%;
    margin-left: 15%;
}

.section2 {
    display: flex;
    width: 30%;
    margin: 0%;
}